/* 版心 */
.wrapper {
    margin: 0 auto;
    width: 1240px;
}

/* 快捷导航 */
.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper {
    display: flex;
    justify-content: flex-end;
    height: 52px;
}

.shortcut ul {
    display: flex;
    line-height: 52px;
}

.shortcut ul a {
    padding: 0 15px;
    font-size: 14px;
    color: #fff;
    border-right: 1px solid #999;
}

.shortcut li:last-child a {
    border-right: none;
}

.shortcut li .iconfont {
    margin-right: 4px;
    vertical-align: middle;
}

.shortcut li .login {
    color: #5eb69c;
}

/* 头部导航 */
.header {
    display: flex;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 88px;
}

.logo {
    width: 200px;
    height: 88px;
    margin-right: 40px;
}

.logo a {
    display: block;
    width: 200px;
    height: 88px;
    background-image: url(../images/logo.png);
    font-size: 0;
}

.nav {
    margin-top: 33px;
    margin-right: 28px;
}

.nav ul {
    display: flex;
}

.nav li {
    margin-right: 47px;
}

.nav li a {
    padding-bottom: 10px;
}

.nav li a:hover {
    color: #5EB69C;
    border-bottom: 2px solid #5EB69C;
}

.search {
    display: flex;
    margin-top: 33px;
    margin-right: 45px;
    width: 170px;
    height: 34px;
    border-bottom: 2px solid #F4F4F4;

}

.search .iconfont {
    font-size: 18px;
    color: #ccc;
    margin-right: 8px;
}

.search input {
    /* 浏览器优先生效 input 标签的默认宽度，所以 flex:1; 不生效 */
    flex: 1;
    width: 0;
}

.search input::placeholder {
    font-size: 16px;
    color: #ccc;
}

/* 购物车 */
.cart {
    position: relative;
    margin-top: 32px;

}

.cart .iconfont {
    font-size: 24px;
}

.cart i {
    position: absolute;
    top: 1px;
    /* right 定位不妥，当文字多了会向左撑开，覆盖搜索框 */
    left: 15px;

    height: 15px;
    padding: 0 6px;
    background-color: #E26237;
    border-radius: 8px;
    font-size: 14px;
    color: #FFFEFE;
    line-height: 15px;
}

/* 底部区域 */
.footer {
    height: 580px;
    background-color: #F5F5F5;
}


.footer .service {
    padding: 60px 0;
    height: 178px;
    border-bottom: 1px solid #E8E8E8;
}

.footer .service ul {
    display: flex;
    justify-content: space-evenly;
}

.footer .service li {
    display: flex;
    width: 190px;
    height: 58px;
}

.footer .service li h5 {
    margin-right: 20px;
    width: 58px;
    height: 58px;
    background-image: url(../images/sprite.png);
}

.footer .service li:nth-child(2) h5 {
    background-position: 0 58px;
}

.footer .service li:nth-child(3) h5 {
    background-position: 0 116px;
}

.footer .service li:nth-child(4) h5 {
    background-position: 0 174px;
}

.footer .service li p {
    font-size: 28px;
    line-height: 58px;
}


.footer .help {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    height: 300px;
}

.footer .help .left {
    display: flex;
}

.footer .help .left dl {
    margin-right: 84px;
}

.footer .help .left dl:last-child {
    margin-right: 0;
}

.footer .help .left dt {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer .help .left dd {
    margin-bottom: 10px;
}

.footer .help .left dd a {
    color: #969696;
}

.footer .help .left dd .iconfont {
    color: #26b99b;
}

.footer .help .right ul {
    display: flex;
}

.footer .help .right li:first-child {
    margin-right: 55px;
}

.footer .help .right .pic {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.footer .help .right p {
    color: #969696;
    text-align: center;
}

/* 版权区域 */
.copyright p {
    text-align: center;
    margin-bottom: 10px;
    color: #a1a1a1;
}

.copyright a {
    margin: 0 10px;
    color: #a1a1a1;
}